<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

    <script src="/js/socket.io.js"></script>
    <script src="/js/socket.js" type="module"></script>
  </body>
</html>
