<% include ../partials/head %>

<main id="main">
  <h1>Kies Pokémon</h1>

  <form id="select-pokemon" action="/select-pokemon" method="post">
    <input class="select-pokemon" id="pokemon--infernape" type="radio" name="pokemon" value="infernape">
    <label for="pokemon--infernape"><img src="/img/infernape.png" alt="infernape">Infernape</label>

    <input class="select-pokemon" id="pokemon--empoleon" type="radio" name="pokemon" value="empoleon">
    <label for="pokemon--empoleon"><img src="/img/empoleon.png" alt="empoleon">Empoleon</label>

    <input class="select-pokemon" id="pokemon--torterra" type="radio" name="pokemon" value="torterra">
    <label for="pokemon--torterra"><img src="/img/torterra.png" alt="torterra">Torterra</label>

    <input class="select-pokemon" id="pokemon--luxray" type="radio" name="pokemon" value="luxray">
    <label for="pokemon--luxray"><img src="/img/luxray.png" alt="luxray">Luxray</label>

    <input type="submit" name="submit">
  </form>
</main>


<% include ../partials/tail %>
